body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


@font-face {
  font-family: 'overpass';
  font-style: normal;
  font-weight: 400;
  src: url('./media/overpass-regular.otf'); 
}


@font-face {
  font-family: 'overpass';
  font-style: bold;
  font-weight: 600;
  src: url('./media/overpass-bold.otf'); 
}



@font-face {
  font-family: 'overpass';
  font-style: lighter;
  font-weight: 200;
  src: url('./media/overpass-light.otf'); 
}

